<div class="container mt-3">
  <h2>Update task</h2>
  <%= simple_form_for(@task) do |f| %>
    <%= f.input :title %>
    <%= f.input :details %>
    <%= f.label :completed %>
    <%= f.check_box :completed %>
    <br>
    <br>
    <%= f.submit "Update" %>
  <% end %>
</div>
