<div class="container mt-3">
  <h1>My Tasks:</h1>

  <div class="mt-3">
    <ul style="list-style-type: none;" class="border rounded p-4 mt-3">
      <% @tasks.each do |task| %>
      <p>
        <% if task.completed %>
          <i class="fas fa-check"></i> <%= link_to task.title, task_path(task), style: "text-decoration: none;"  %> <%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
        <% else %>
          <i class="far fa-square"></i> <%= link_to task.title, task_path(task), style: "text-decoration: none;"  %> <%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      </p>
      <% end %>
    </ul>
  </div>

  <p class="mt-3"><%= link_to "<i class='fas fa-plus'></i>".html_safe, tasks_new_path %> New Task</p>
</div>
